body{
    margin:0;
    padding:0;
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

/* Sidebar */

.sidebar{
    width:250px;
    height:100vh;
    background:#1f2937;
    position:fixed;
    left:0;
    top:0;
    color:white;
    overflow-y:auto;
}

.logo{
    text-align:center;
    padding:20px;
}

.logo h4{
    margin:0;
}

.logo small{
    color:#cbd5e1;
}

.menu{
    list-style:none;
    padding:0;
    margin:0;
}

.menu li{
    margin:5px 0;
}

.menu-title{
    color:#94a3b8;
    font-size:14px;
    padding:10px 20px;
    text-transform:uppercase;
}

.menu a{

    color:white;

    text-decoration:none;

    display:block;

    padding:12px 20px;

    transition:.3s;

}

.menu a:hover{

    background:#2563eb;

    border-left:5px solid white;

}

.logout{

    color:#ffb4b4 !important;

}

/* Navbar */

.main-content{
    margin-left:250px;
    min-height:100vh;
    padding:20px;
    box-sizing:border-box;
}

.navbar{
    height:70px;
    box-sizing:border-box;
}